<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BMI Calculator</a>
</nav>

<div class="container mt-5">
    <form id="bmiForm">
        <div class="form-group">
            <label for="weight">Weight (kg):</label>
            <input type="text" class="form-control" id="weight" placeholder="Enter weight">
        </div>
        <div class="form-group">
            <label for="height">Height (cm):</label>
            <input type="text" class="form-control" id="height" placeholder="Enter height">
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input type="text" class="form-control" id="age" placeholder="Enter age">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
            <select class="form-control" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <button type="button" class="btn btn-success" onclick="calculateBMI()">Calculate BMI</button>
    </form>

    <div id="resultContainer" class="mt-3"></div>
</div>

<footer class="footer">
    <div class="container text-center py-3">
        <p class="text-muted mb-0">Sergaziyev Nurkhat | SE-2204</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>
